<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="currencyName">Currency Name</label>
            <input type="text" class="form-control" [(ngModel)]="currency.name" id="currencyName" placeholder="Enter currency name">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="currencySymbol">Currency Symbol</label>
            <input type="text" class="form-control" [(ngModel)]="currency.symbol" id="currencySymbol" placeholder="Enter currency Symbol">
        </div>
    </div>
</div>
<div class="top-buffer">
    <button type="button" class="btn btn-success pull-right" (click)="save()">
        <i class="fa fa-check"></i> Save
    </button>
</div>